img {
    max-width: 265px;
    max-height: 265px;
    margin-top: 6px;
}

.imageGallery {

}

.card {
    border: 1px black solid;
    background-color: purple;
    max-width: 275px;
    max-height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
}